table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.gridContainer {
  width: auto;
}

@media screen and (max-width: 768px){
  .gridContainer {
    width: fit-content;
  }
}