<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="challengeName">
    <th mat-header-cell *matHeaderCellDef> Challenge Name </th>
    <td mat-cell *matCellDef="let element"> {{element.challengeName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef> Link </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="onChallengeOpen()">Open</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>