.challengeContainer {
  display: flex;
}

@media (orientation: landscape) {
  .challengeContainer {
    flex-direction: row;
  }
  .codeContainer {
    flex-direction: column;
    width: 60%;
    background-color: #1e1e1e;
  }
  .my-code-editor {
    height: 75vh;
    width: 100%;
  }
  .description {
    width: 38%;
    min-height: 20vh;
    max-height: 95vh;
    overflow-y: auto;
    margin: 5px;
  }
  .executer {
    width: 100%;
    position: relative;
    top: -14px;
    height: 15vh;
  }
}

@media (orientation: portrait) {
  .challengeContainer {
    flex-direction: column;
  }
  .codeContainer {
    flex-direction: column;
    width: 99%;
    background-color: #1e1e1e;
  }
  .my-code-editor {
    height: 33vh;
    width: 99%;
    margin: 5px;
  }
  .description {
    width: 99%;
    min-height: 20vh;
    max-height: 33vh;
    overflow-y: auto;
    margin: 5px;
  }
  .executer {
    width: 99%;
    min-height: 20vh;
    max-height: 33vh;
    overflow-y: auto;
    margin: 5px;
  }
}